<ngx-charts-line-chart
      [view]="graphConfiguration.view"
      [scheme]="graphConfiguration.colorScheme"
      [results]="data"
      [gradient]="graphConfiguration.gradient"
      [xAxis]="graphConfiguration.showXAxis"
      [yAxis]="graphConfiguration.showYAxis"
      [legend]="graphConfiguration.showLegend"
      [showXAxisLabel]="graphConfiguration.showXAxisLabel"
      [showYAxisLabel]="graphConfiguration.showYAxisLabel"
      [xAxisLabel]="graphConfiguration.xAxisLabel"
      [yAxisLabel]="graphConfiguration.yAxisLabel"
      [autoScale]="graphConfiguration.autoScale"
      [curve]="graphConfiguration.curve"
      (select)="onSelect($event)">
    </ngx-charts-line-chart>