<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>

<div class="container">
  <div class="container m-3">
    <app-tempgraph class="m-3"
                   [hours]="4"
                   [groupSize]="1">
    </app-tempgraph>
  </div>
  <div class="container m-3">
    <app-tempgraph class="m-3"
                   [hours]="12"
                   [groupSize]="5">
    </app-tempgraph>
  </div>
  <div class="container m-3">
    <app-tempgraph class="m-3"
                   [hours]="48"
                   [groupSize]="10">
    </app-tempgraph>
  </div>
</div>
