@import '../../styles';

.btn.btn-outline-primary:focus {
    outline: none;
    box-shadow: none;
}

.btn.btn-outline-primary:hover {
  color:$blue;
  background-color: $blue-hover;
}

.btn.btn-outline-primary:active {
  color: $white;
  background-color: $blue;
}